In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 102.0.5005
Get LATEST chromedriver version for 102.0.5005 google-chrome
Driver [/Users/paediaz/.wdm/drivers/chromedriver/mac64/102.0.5005.61/chromedriver] found in cache

In [3]:
#visit url site of NASA
url = 'https://redplanetscience.com/'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
# parse the html
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [5]:
slide_elem.find('div', class_='content_title')

In [6]:
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title
# get_text() when chained to .find function, will essentially only return the text and not its HTML tags or elements

'NASA Wins Two Emmy Awards for Interactive Mission Coverage'

In [7]:
# we want to make sure that we get the very first article on the page.. thus we will use the parent
#element to find paragraph text
news_p = slide_elem.find('div', class_= 'article_teaser_body').get_text()
news_p

"NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy."

### Featured Images and change the code cell to "Markdown"

In [8]:
# visit the url 
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [9]:
# find and click the full image button 
#must make sure to look at devtool
full_image_elem = browser. find_by_tag('button')[1]
full_image_elem.click()

In [10]:
# Once the image is loaded wi will parse the resulting html with soup
html = browser.html
img_soup =soup(html, 'html.parser')

In [11]:
# find the relative image url 
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel
#essentially what we did was to tel BeautifulSoup to look inside the <img/

'image/featured/mars3.jpg'

In [12]:
#use the base url to create an absolute URL 
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url
#used an f-strong because its cleaner and it is evaluated at run-time. works well because the data scraped
#is essentially live and will be updated frequently

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [13]:
#scrape the entire table with pandas .read_html() funciton
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df
# What is returned is a tidy, pandas representation of the HTML table that was taken from the website.

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [14]:
# Convert DataFrame back into HTML code wiht to_html() function.
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
browser.quit()